img {
  max-height: 200px;
}

#container {
  height: 300px;
}

#weather {
  margin-left: 50px;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  padding: 20px;
  margin-top: 10px;
}
